.ComputeCor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-title  {
    background-color: #3182f6;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    height: 50px;
    font-size: large;
}
