.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 50px;
}

.sub {
    display: flex;
    flex-direction: row;
}

.title {
    /* border: 1px solid black; */
    font-weight: bold;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 200px;
    text-align: left;
}
input {
    margin-left: 30px;
    width: 300px;
    height: 30px;
    border-width: 2px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #dbdbdb;
}

button {
    margin-left: 30px;
    width: 100px;
    height: 40px;
    border: 1px solid #dbdbdb;
    background-color: white;
    color: black;
}

button:hover {
    background-color: #3182f6;
    color: white;
}

.icon {
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-left: 20px;
}

.cost-info {
    border: 1px solid #dbdbdb;
    width: 500px;
    height: 150px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 700px;
    bottom: 500px;
    background-color: white;
}

.cost-info span {
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
}

.alert {
    margin-left: 280px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #707070;
}