.header {
    /* border: 1px solid black; */
}
.header h1 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.body {
    margin-top: 10px;
    padding: 20px;
    /* border: 1px solid black; */
}

.post-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-form div {
    /* border: 1px solid black; */
    width: 280px;
    height: 80px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.post-form div span {
    /* font-size: 15px; */
    font-weight: bold;
    margin-right: 140px;
}
.post-form div input {
    width: 200px;
    height: 30px;
    border-width: 2px;
    border-radius: 5px 5px 5px 5px;
}

::-webkit-input-placeholder {
    text-align: center;
}
.submit-btn {
    margin-top: 42px;
    margin-left: 20px;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    background-color: #3182f6;
    color: white;
}

.submit-btn:hover {
    background-color: black;
}

.result-list {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
