.price-container {
    background-color: #ffffff;
    margin: 10px;
    padding: 100px;
}

.price-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space {
    margin: 30px;
}

.all-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    font-weight: bolder;
    margin: 30px;
}
