table {
    text-align: center;
    border: 2px solid white;
    width: 500px;
    margin-top: 10px;
    margin-left: 300px;
    border-collapse: collapse;
}

table th, td {
    font-weight: normal;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    padding: 8px;
}

table td:hover {
    background-color: #3182f6;
    color: white;
}
.time:hover {
    background-color: white;
}
