body {
    background-color: #f9fafb;
}
.App {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 35pt;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-bottom: 100px;
}

img {
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.body div {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.body div span {
    margin-top: 20px;
    margin-left: 20px;
}

.container {
    margin-top: 80px;
    margin-bottom: 100px;
    border: 1px solid black;
    width: 1000px;
    height: 600px;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin-right: 10px;
    width: 480px;
    height: 40px;
    border-width: 1px;
    /* border: none; */
    background-color: white;
    color: black;
}
button:hover {
    background-color: #3182f6;
    color: white;
}

.container-body span {
    color: lightslategray;
    margin-top: 20px;
}

/* .App-logo {
    height: 40vmin;
    pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */

/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */

/* .App-link {
    color: #61dafb;
} */

/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
